<div class="container">
    <h2>Formulario de contacto</h2>
    <form [formGroup]="contactForm" class="row g-3 needs-validation" novalidate (submit)="enviar($event)">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" 
            class="form-control" 
            id="exampleFormControlInput1" 
            placeholder="pablo.parcha@incentro.com" 
            formControlName="email"
            [ngClass]="{'is-invalid' : hasErrors('email', 'required') || hasErrors('email', 'email')}"
            >
            @if (hasErrors('email', 'required')) {
                <span class="text-danger">Completa este campo</span>
            }
            @if (hasErrors('email', 'email')) {
                <span class="text-danger">Formato de email inválido</span>
            }

        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control"
            id="exampleFormControlTextarea1" 
            rows="5" 
            formControlName="message"
            [ngClass]="{'is-invalid' : hasErrors('message', 'required') || hasErrors('message', 'minlength')}"
            ></textarea>
            @if (hasErrors('message', 'required')) {
                <span class="text-danger">Completa este campo</span>
            }
            @if (hasErrors('message', 'minlength')) {
                <span class="text-danger">Tienes que escribir al menos 10 caracteres</span>
            }
        </div>
        <div class="col-12">
            <button class="btn btn-warning" type="submit">Contactar</button>
        </div>
    </form>
</div>